/*RESPONSIVE =========================================================================================================*/
@media only screen and (max-width: 1024px) {
    .customInputLabel {
        height: 45% !important;
    }
}


/*Recommend============================*/
@media only screen and (min-device-width: 320px) and (max-device-width: 500px) {
    .rec_top_section {
        font-size: 0.6rem;
    }

    .rec_card_section {
        display: flex;
        flex-direction: column !important;
    }

    .rec_card_sub_section {
        height: auto !important;
        flex-direction: column !important;
    }

    .custom_rec_card_section {
        width: 100%;
        height: 400px;
    }

    .custom_card_data {
        font-size: 13px;
    }
}

@media only screen and (min-device-width: 501px) and (max-device-width: 600px) {
    .rec_top_section {
        font-size: 0.7rem;
    }

    .rec_card_section {
        display: flex;
        flex-direction: column !important;
    }

    .rec_card_sub_section {
        height: auto !important;
        flex-direction: column !important;
    }

    .custom_rec_card_section {
        width: 80%;
        height: 400px;
    }
}

@media only screen and (min-device-width: 601px) and (max-device-width: 768px) {
    .rec_top_section {
        font-size: 0.8rem;
    }

    .rec_card_sub_section {
        height: auto !important;
        flex-direction: column !important;
    }

    .custom_rec_card_section {
        width: 50%;
        height: 400px;
    }
}

@media only screen and (min-device-width: 769px) and (max-device-width: 1000px) {
    .rec_top_section {
        font-size: 0.8rem;
    }

    .custom_rec_card_section {
        width: 50%;
        height: 400px;
    }

    .custom_card_data {
        font-size: 12px;
    }
}

@media only screen and (min-device-width: 1001px) and (max-device-width: 1100px) {
    .rec_top_section {
        font-size: 0.8rem;
    }

    .custom_rec_card_section {
        width: 50%;
        height: 400px;
    }

    .custom_card_data {
        font-size: 13px;
    }
}

@media only screen and (min-device-width: 1101px) and (max-device-width: 1200px) {
    .custom_card_data {
        font-size: 14px;
    }
}

/*Recommend============================*/


/*PRICE============================*/
@media only screen and (min-device-width: 320px) and (max-device-width: 500px) {
    .pre_header {
        font-size: 10px;
    }

    .pre_tbl_section {
        height: 70% !important;
    }

    .res_chart {
        height: 50% !important;
    }

}

/*PRICE============================*/


/*CULTIVATION====================================*/
@media only screen and (min-device-width: 320px) and (max-device-width: 400px) {
    .cul_header_section {
        font-size: 10px;
        width: 90% !important;
    }

    .cul_content_title {
        font-size: 10px;
    }

    .cul_content_section {
        width: 90% !important;
    }

    .cul_content_card_section {
        flex: 1;
        overflow-x: hidden;
        overflow-y: auto;
        height: auto !important;
        width: 100% !important;
        flex-direction: column !important;
    }

    .res_cultivation_card_section {
        margin-top: 650px;
    }

    .cul_card_section {
        width: 100% !important;
        height: 100% !important;
    }

    .custom_cul_button {
        height: 80% !important;
        margin-bottom: 10px !important;
    }

}

@media only screen and (min-device-width: 401px) and (max-device-width: 500px) {
    .cul_header_section {
        font-size: 10px;
        width: 90% !important;
    }

    .cul_content_title {
        font-size: 12px;
    }

    .cul_content_section {
        width: 90% !important;
    }

    .cul_content_card_section {
        flex: 1;
        overflow-x: hidden;
        overflow-y: auto;
        width: 100% !important;
        flex-direction: column !important;
    }

    .res_cultivation_card_section {
        margin-top: 650px;
    }

    .cul_card_section {
        width: 300px !important;
    }

    .custom_cul_button {
        height: 70% !important;
        margin-bottom: 10px !important;
    }

}

@media only screen and (min-device-width: 501px) and (max-device-width: 600px) {
    .cul_header_section {
        font-size: 10px;
        width: 90% !important;
    }

    .cul_content_title {
        font-size: 12px;
    }

    .cul_content_section {
        width: 90% !important;
    }

    .cul_content_card_section {
        flex: 1;
        overflow-x: hidden;
        overflow-y: auto;
        width: 100% !important;
        flex-direction: column !important;
    }

    .res_cultivation_card_section {
        margin-top: 650px;
    }

    .cul_card_section {
        width: 300px !important;
    }

    .custom_cul_button {
        height: 70% !important;
        margin-bottom: 10px !important;
    }

}

@media only screen and (min-device-width: 601px) and (max-device-width: 768px) {
    .cul_header_section {
        font-size: 10px;
        width: 90% !important;
    }

    .cul_content_title {
        font-size: 12px;
    }

    .cul_content_section {
        width: 90% !important;
    }

    .cul_content_card_section {
        flex: 1;
        overflow-x: hidden;
        overflow-y: auto;
        width: 100% !important;
        flex-direction: column !important;
    }

    .res_cultivation_card_section {
        margin-top: 650px;
    }

    .cul_card_section {
        width: 300px !important;
    }

    .custom_cul_button {
        height: 70% !important;
        margin-bottom: 10px !important;
    }

}

@media only screen and (min-device-width: 769px) and (max-device-width: 1024px) {
    .cul_header_section {
        font-size: 10px;
        width: 90% !important;
    }

    .cul_content_title {
        font-size: 12px;
    }

    .cul_content_section {
        width: 90% !important;
    }

    .custom_cul_img_section {
        height: 25% !important;
        margin-top: 10px !important;
    }

    .cul_content_card_section {
        height: 90% !important;
        width: 95% !important;
    }

    .cul_card_section {
        width: 100% !important;
    }

    .custom_cul_button_section {
        margin-bottom: 20px;
    }

    .custom_cul_button {
        height: 25px !important;
    }

}

@media only screen and (min-device-width: 1025px) and (max-device-width: 1266px) {
    .cul_header_section {
        font-size: 10px;
        width: 90% !important;
    }

    .cul_content_title {
        font-size: 12px;
    }

    .cul_content_section {
        width: 90% !important;
    }

    .custom_cul_img_section {
        height: 25% !important;
        margin-top: 10px !important;
    }

    .cul_content_card_section {
        height: 90% !important;
        width: 95% !important;
    }

    .cul_card_section {
        width: 100% !important;
    }

    .custom_cul_button_section {
        margin-bottom: 20px;
    }

    .custom_cul_button {
        height: 25px !important;
    }

}

/*CULTIVATION====================================*/


/*CULTIVATION CONTENT============================*/
@media only screen and (min-device-width: 320px) and (max-device-width: 500px) {

    .pot_content_main_section{
        height: 60% !important;
    }

    .pot_content_header {
        width: 90% !important;
        font-size: 10px;
    }

    .pot_content_section {
        width: 90% !important;
        font-size: 10px;
        height: auto !important;
    }

    .pot_content_txt {
        margin-left: 5% !important;
    }

    .res_cul_detail{
        width: 90% !important;
        font-size: 14px;
    }

    .res_cul_detail_2{
        border-radius: 15px;
    }

}
@media only screen and (min-device-width: 501px) and (max-device-width: 768px) {
    .pot_content_header {
        font-size: 10px;
    }

    .pot_content_section {
        font-size: 10px;
    }
}

/*CULTIVATION CONTENT============================*/


@media only screen and (min-device-width: 1025px) and (max-device-width: 1500px) {
    /*ACCOUNT SCREEN -------------------------------------------------------------------------------------------------*/
    .acc_side_section {
        width: 100% !important;
        height: 100% !important;
    }

    .acc_form_section {
        width: 90% !important;
        height: 70% !important;
    }

    .acc_top_section {
        width: 90% !important;
        height: 40% !important;
    }

    .acc_view_section {
        width: 90% !important;
        height: 50% !important;
        margin-bottom: 5%;
    }

    .acc_top_side {
        width: 50% !important;
    }

    .acc_bottom_side1 {
        height: 50% !important;
    }

    .acc_space3 {
        height: 5% !important;
    }
    /*ACCOUNT SCREEN -------------------------------------------------------------------------------------------------*/
}

@media only screen and (min-device-width: 601px) and (max-device-width: 768px) {
    .customInputField {
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 768px) {
    /*WELCOME SCREEN -------------------------------------------------------------------------------------------------*/
    .wel_name_logo {
        height: 80px !important;
    }

    .custom_title_section {
        font-size: 0.7rem;
        text-align: center;
    }

    .wel_title_1 {
        font-size: 2rem !important;
    }

    .wel_title_2 {
        font-size: 1rem !important;
    }
}


@media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
    .main_form_nav_bar_section {
        width: 0 !important;
    }

    .nav_main_section {
        display: none;
    }

    .nav_open {
        display: block;
    }


}


@media only screen and (min-device-width: 769px) and (max-device-width: 1200px) {
    .nav_main_section {
        font-size: 0.7rem;
    }

    .nav_title_section {
        height: 10%;
    }

    .nav_title_logo {
        height: 35%;
    }

    .nav_profile_img {
        height: 35%;
    }


}

@media only screen and (min-device-width: 901px) and (max-device-width: 1200px) {
    .nav_main_section {
        font-size: 0.8rem;
    }

    .nav_title_logo {
        height: 40%;
    }

    .nav_profile_img {
        height: 45%;
    }
}

/*ACCOUNT / */
@media only screen and (min-device-width: 550px) and (max-device-width: 1024px) {
    /*ACCOUNT SCREEN -------------------------------------------------------------------------------------------------*/
    .acc_side_section {
        width: 100% !important;
        height: 80% !important;
    }

    .acc_form_section {
        width: 90% !important;
        height: 80% !important;
    }

    .acc_view_section {
        width: 90% !important;
        height: 50% !important;
        margin-top: 5%;
    }

    .acc_top_section {
        height: 50% !important;
    }

    .acc_top_side {
        width: 45% !important;
    }

    .acc_bottom_side1 {
        height: 60% !important;
    }

    .acc_space3 {
        height: 10% !important;
    }

    /*ACCOUNT SCREEN -------------------------------------------------------------------------------------------------*/
}

/*ACCOUNT / */
@media only screen and (min-device-width: 320px) and (max-device-width: 549px) {

    /*ACCOUNT SCREEN -------------------------------------------------------------------------------------------------*/
    .acc_main_section {
        flex-direction: column;
    }

    .acc_side_section {
        width: 100% !important;
        height: 50% !important;
    }

    .acc_form_section {
        width: 80% !important;
        height: 95% !important;
    }

    .acc_p {
        font-size: 16px;
    }

    .acc_combo_box {
        font-size: 12px;
    }

    .accImg {
        height: 55% !important;
    }

    .acc_text {
        font-size: 12px;
    }

    .acc_space3 {
        height: 5% !important;
    }

    .acc_bottom_button_section {
        height: 10% !important;
    }
    /*ACCOUNT SCREEN -------------------------------------------------------------------------------------------------*/

}

/*RESPONSIVE =========================================================================================================*/
