.acc_main_section {
    width: 100%;
    height: 100%;
    background-image: url("../../../assets/images/profile pagee.png");
    background-position: center;
    background-size: cover;
}

.acc_side_section {
    width: 50%;
    height: 100%;
}

.acc_form_section {
    width: 60%;
    height: 80%;
    border-radius: 30px;
    background-color: #d8d8d8;
}

.acc_header_section {
    width: 80%;
    height: 10%;
}

.acc_logo {
    width: auto;
    height: 70%;
}

.acc_text_section {
    width: 90%;
    height: 15%;
}

.acc_select_lang {
    width: 90%;
    height: 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.acc_p {
    margin-top: 10%;
}

.acc_combo_box {
    width: 100%;
    height: 45px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
}

.acc_button_section {
    width: 90%;
    height: 7%;
    margin-top: 5%;
}

.acc_space {
    height: 2%;
}

.acc_view_section {
    width: 75%;
    height: 45%;
    border-radius: 20px;
    background-color: #e7e7e7;
}

.acc_top_section {
    width: 90%;
    height: 70%;
    background-color: white;
    border-radius: 25px;
}

.acc_bottom_section {
    width: 90%;
    height: 20%;
}

.acc_top_side {
    width: 45%;
    height: 100%;
    background-color: #9ecbb9;
    border-radius: 25px;
}

.accImg {
    width: auto;
    height: 85%;
}

.acc_space2 {
    width: 10%;
}

.acc_top_side1 {
    width: 55%;
    height: 100%;
    flex-direction: column;
    text-align: left;
}


.acc_text {
    margin-left: 5%;
}

.acc_bottom_side {
    width: 45%;
}

.acc_bottom_side1 {
    width: 55%;
    height: 70%;
}

.acc_bottom_button_section {
    width: 75%;
    height: 6%;
}

.acc_bottom_button {
    width: 45%;
    height: 100%;
}

.acc_space3 {
    height: 20%;
}

.acc_line {
    width: 1px;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.56);
}
