.otp-verification-container{
    display:flex;
    width:100vw;
    height:100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../../assets/images/bg_otp_page.jpg");
    background-position: center;
    background-size: cover;
}

.green-container{
   background-color:rgba(2, 122, 72, 0.54);
   width:70%; 
   height:65%;
   border-radius: 1rem;
   display: flex;
   align-items: center;
}

.image-side {
    width: 50%; 
    height:65%;
    display:flex;
    justify-content: center;
    /* align-items: center; */   
    /* background-color: aqua; */
  }

  /* .otp-img{
    width:60%;    check on this
    height:70%
  } */
  
  .form-side{
    width: 50%; 
    display: flex;
    flex-direction: column;
    /* background-color: rgb(37, 208, 208); */
    justify-content: center;
    align-items: center;
  }

  .form-top-text{
    color: #000;
    text-align: center;
    font-family: Outfit;
    font-size: 1.1em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .para-l1{
      margin-bottom: 0;
  }
    .para-l2{
      margin-top: 0;
      /* padding-top: 0; */
    }

    .phone-num{
      margin-top: 10px;
      margin-bottom: 30px;
      color: #000;
      text-align: center;
      font-family: Outfit;
      font-size: 1em;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }

  .input-group{
    display: flex;
    /* justify-content: space-between; */
    gap:1rem;
  }


  .input-group input {
    width: calc(100% / 4 - 1rem); /* Divide the parent width by 4 inputs and subtract the gap */
    max-width: 64px; /* Ensures the input doesn't get too large on wide screens */
    height: 3em; /* Height relative to the font size */
    padding: 0.5em; /* Padding relative to the font size */
    margin: 0; /* No margin */
    font-size: 1em; /* Font size relative to the parent element's font size */
    border: 1px solid #ced4da;
    border-radius: 0.5em; /* Rounded corners */
    text-align: center;
    background-color: #ffffff;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    outline: none;
  }

  .unable-otp-text{
    color: #027A48;
    text-align: center;
    font-family: Changa;
    font-size: 1em;
    font-style: normal;
    font-weight: 600;
    line-height: 1.3em; /* 125% */
    text-transform: capitalize;
  }
  .call-us{
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 1.3em;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2em; /* 95.238% */
    text-transform: uppercase;
  }
  .green_number{
    color: #027A48;
    text-align: center;
    text-shadow: 2px 3px 1px rgba(0, 0, 0, 0.25);
    font-family: Changa;
    font-size: 1.2em;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2em; /* 83.333% */
    text-transform: uppercase;
  }